@import '~@angular/material/core/theming/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ngs-primary: md-palette($md-cyan);
$ngs-accent:  md-palette($md-cyan, A200, A100, A400);
$ngs-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$ngs-theme: md-light-theme($ngs-primary, $ngs-accent, $ngs-warn);

$ngs-background: map-get($ngs-theme, background);
$ngs-foreground: map-get($ngs-theme, foreground);
