@import '../../../styles/palette';

:host {
  background: md-color($ngs-background, card);
  height: 100%;
  width: 100%;
  text-align: center;

  // Children layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  background: no-repeat 50% 50%;
  background-size: contain;
  height: 50%;
  width: 50%;
}

.title {
  color: md-color($ngs-foreground, text);
  font-family: $ngs-brand-font;
  font-size: 20px; // Title

  @media (min-width: 1280px) {
    font-size: 34px; // Display 1
  }
}
