@import '../styles/palette';

md-toolbar {
  background-color: md-color($ngs-background, card);
}

[md-icon-button] {
  color: md-color($ngs-foreground, secondary-text);
}

.fill {
  flex: 1 1 auto;
}

.title {
  font-weight: 500;
}

.logo {
  margin-right: 8px;
  height: 36px;
  width: 36px;
}
