@import '../styles/palette';

md-toolbar {
  background: md-color($ngs-background, card);
}

[md-icon-button] {
  color: md-color($ngs-foreground, secondary-text);
}

.fill {
  flex: 1 1 auto;
}

.logo {
  height: 36px;
  width: auto;
}
